body{
    font-family: 'Press Start 2P', cursive;
    color: black;
    background-color: #ffc86a;
}


.row {
    display: flex;
    width: min-content;
    width: 700px;
}

.col {
    flex: 50%;
    width: 150px;;
}

input[type=text] {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
}

input[type=submit] {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    border: gray 5px solid;
    font-family: 'Press Start 2P', cursive;
}


select {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    background-color: white;
    border: 5px solid darkgray;
    padding: 20px;
    width: 400px;
    text-align: center;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}