body {
    background-color: #ffc86a;
    font-family: 'Press Start 2P', cursive;
    color: white;
  }

.card-grid {
    display: flex;
    flex-flow: row wrap;
}


.card {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 1rem;
    margin: 5px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.pokemon_name {
    position:absolute;
    top: 10px;
    left: 10px;
}

.number {
    position: absolute;
    top: 50px;
    left: 10px;
}

.pokemon_image {
    position:absolute;
    width: 150px;
    bottom: 0;
    right: 0;
}

label {
    color: black;
}

option {
    
    font-family: 'Press Start 2P', cursive;
}

.party_title {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    background-color: white;
    border: 5px solid darkgray;
    padding: 20px;
    width: 400px;
    text-align: center;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}